body {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 87.42px;
  margin: 8px 0;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 54.64px;
  margin: 0;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38.25px;
  margin: 0;
}

p {
  font-size: 20px;
  line-height: 27.32px;
  margin: 8px 0;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #89BDE7;
  border-radius: 8px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}

.content h1 {
  margin-bottom: 64px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

.header_right {
  display: flex;
  gap: 24px;
}

section {
  margin-top: 160px;
  padding: 0 80px;
}

section:first-of-type {
  margin-top: 48px;
}

.more {
  margin-top: 56px;
  text-align: right;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero_left {
  max-width: 45%;
}

.hero_left p {
  margin-top: 20px;
}

.hero_img {
  margin-top: 15px;
}

.hero_img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 32px;
}

.advantages .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.advantages .content h1 {
  margin-bottom: 0;
}

.advantages_item_title {
  display: flex;
  padding-bottom: 24px;
  gap: 24px;
  border-bottom: 1px solid black;
}

.advantages_item_text {
  padding: 16px 0 32px 0;
}

.services_list {
  display: grid;
  height: 620px;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.services_list_reverse {
  display: grid;
  height: 620px;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.services_item {
  background-color: #D9D9D9;
  grid-column: span 1;
  grid-row: span 1;
  border-radius: 16px;
}

.services_list .services_item:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
  border-radius: 24px;
}

.services_list_reverse .services_item:nth-child(3) {
  grid-column: span 2;
  grid-row: span 2;
  border-radius: 24px;
}

.vacancies_list {
  display: flex;
  gap: 40px;
}

.vacancies_item img {
  width: 180px;
  height: 180px;
  border-radius: 24px;

  object-fit: cover;
}

.vacancies_item h3 {
  margin-top: 24px;
}

.vacancies_item:nth-child(1) img {
  width: 400px;
  height: 400px;
}

.partners_list {
  display: grid;
  height: 620px;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.partners_item {
  background-color: #D9D9D9;
  grid-column: span 1;
  grid-row: span 1;
  border-radius: 16px;
}

.partners_item:nth-child(1) {
  grid-row: span 2;
  border-radius: 24px;
}

.partners_item:nth-child(4) {
  grid-row: span 2;
  border-radius: 24px;
}

.news_list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.news_list_reverse {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.news_item .news-img {
  background-color: #D9D9D9;
  width: 290px;
  height: 290px;
  border-radius: 16px;
}

.news_list .news_item:nth-child(1) .news-img {
  width: 620px;
  height: 620px;
}

.news_list_reverse .news_item:nth-child(3) .news-img {
  width: 620px;
  height: 620px;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts_item {
  margin-bottom: 32px;
}

.contacts_item h3 {
  padding-bottom: 16px;
  border-bottom: 1px solid black;
}

.contacts_item .contact_info {
  margin-top: 16px;

  display: flex;
  align-items: start;
  gap: 16px;
}

.contacts_item .contact_info p {
  margin: 0;
}

footer {
  margin: 160px 80px 200px;
  padding: 32px 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  border-top: 1px solid black;
}

.footer_nav ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;

  list-style: none;
}

.footer_col:last-of-type {
  text-align: right;
}

.about_img {
  margin-top: 64px;
}

.about_img .placeholder-img {
  height: 637px;

  background-color: #D9D9D9;
  border-radius: 32px;
}

.development_list {
  margin-top: 64px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.development_card {
  height: 522px;
  padding: 25px 35px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #D9D9D9;
  border-radius: 25px;
}

.development_card_button {
  text-align: right;
}

.services_page {
  margin-top: 64px;

  display: flex;
  flex-direction: column;
  gap: 64px;
}

.platforms {
  margin-top: 64px;
}

.platforms_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.platforms_item {
  height: 620px;

  background-color: #D9D9D9;
  border-radius: 16px;
}

.residents {
  margin-top: 64px;
}

.residents_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.residents_item {
  width: 400px;
  height: 207px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 32px;
  border: 1px solid black;
}

.residents_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.vacancies-page {
  margin-top: 64px;
}

.list_controls {
  display: flex;
  justify-content: end;
  gap: 24px;
}

.list_controls_button {
  width: 44px;
  height: 44px;

  background-color: #D9D9D9;
  border-radius: 40px;
  border: none;
}

.partners {
  margin-top: 64px;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);

  gap: 0 40px;
}

.partners_more {
  margin-top: 24px;
}

.news-page {
  margin-top: 64px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}
